html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Contacto losCar
    body
        h2=`Un usuario pregunta por tu ${titulo}`
        p=`Nombre : ${name}`
        p=`Email : ${email}`
        p=`Telefono : ${telefono}`
        p=`Comentario : ${comentario}`